input.text{
    border: 5px solid red;
    outline: none;
    margin-bottom: 10px;
}
textarea{
    resize: none;
  }
  /* 標籤樣式 */
  /* div.button{ 
    box-shadow:3px 3px black;
  }*/
 section.btn{
    text-align: center;
    border: 1px solid #ffb81f;
    background-color: #ffb81f;
    padding: 10px;
    box-sizing: border-box;
    width: 100px;
    height: 45px;
    transform: skew(-30deg, 0deg) translate(5px);
 }
 section a{
     display: inline-block;
     /* border: 1px solid red; */
     text-decoration: none;
     text-align: center;
     color: #002863;
     font-style: normal;
     transform: skew(30deg, 0deg)
 }

 section a:hover{
    text-decoration: none;
    text-align: center;
    color: #002863;
    font-style: normal;
 }
/* nav */
*{
  box-sizing: border-box;
  list-style: none;
}
.header{
  display: flex;
  width: 100%;
  border: 1px solid #ffb81f;
  background-color: #ffb81f;
  min-width: 1200px;
}
nav {
  text-align: right;
  width: 100%;
  font-size: 0;
  margin-top: 20px;
  padding: 6px 10px;
}
nav a{
  text-decoration: none;
  font-size: 18px;
  padding: 26px;
  color: #002863;
  text-align: center;
  margin: 5px;
}
nav a:hover{
  background-color: #0d2863;
  color: #ffffff;
  text-decoration: none;
}
img.logo{
  width: 100px;
  margin-top: 5px;
  margin-left: 120px;
}
div.context{
  width: 1200px;
  border: 1px solid red;
  height: 100%;
  margin: 0 auto;
}
/* footer */
footer{
 border: 1px solid peru;
 display: flex;
 width: 100%;
 min-width: 1200px;
 background-color: #254ca1;
 color: #ffffff;
}

footer.text{
  border: 1px solid khaki;
  width: 60px;
  height: 80px;
  margin: 0 auto;
  padding: 12px 30px;
}