*{
    box-sizing: border-box;
    list-style: none;
}
nav{
    background-color: #ffb81f;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    
}
nav>div>a>img{
    border: 1px solid firebrick;
    float: left;
}

span.icon{
    margin: 0 20px;
}
.icon>img{
    width: 20px;
}

.icon>img:hover{
    background-color:#254ca1;
}
.header{
    display: flex;
    width: 100%;
    border: 1px solid #ffb81f;
    background-color: #ffb81f;
    min-width: 1200px;
}

nav a{
    text-decoration: none;
    font-size: 18px;
    padding: 26px;
    color: #002863;
    text-align: center;
    margin: 5px;
}
nav a:hover{
    background-color: #0d2863;
    color: #ffffff;
    text-decoration: none;
}
img.logo{
    width: 100px;
    margin-top: 5px;
    margin-left: 120px;
}
div.context{
    width: 1200px;
    /* border: 1px solid red; */
    height: 100%;
    margin: 0 auto;
}