*{
    box-sizing: border-box;
    color: #002863;
}

.wrap{
    background-color: #F2EEE6;
    width: 100%;
}

.content{
    /* border: 1px solid #002863; */
    background-color: #F2EEE6;
    width: 100%;
    margin: 0 auto;
}
@media screen and (max-width:320px){
    .about>.title{
        /* background-color: darkgoldenrod; */
        margin: 30px -15px;
    }
    h4{
        margin: 30px 5px;
    }
    .about>p{
        display: inline-block;
        width: 200px;
        margin: 0 -50px;
    }
    iframe{
        width: 100%;
    }
    .h5>h5{
        /* display: inline-flex; */
        /* border: 2px solid purple; */
        font-size: 20px;
    }
    .form{
        width: 90%;
        display: inline-block;
    }
}

.about>.title{
    font-size: 30px;
    display: inline-block;
}

h4{
    font-size: 22px;
}

.about > p,.locallist>p{
    font-size: 18px;
    /* border: 1px solid rebeccapurple; */
}

.about, .local{
    /* border: 1px solid red; */
    padding: 20px;
}
.about{
    padding: 0px 110px;
}
.local{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 1px solid darkcyan; */
}


.locallist,.adimg{
    /* border: 1px solid forestgreen; */
    width: 500px;
}   

.locallist{
    padding:30px;
}

h5{
    text-align: center;
    background-color: #254ca1;
    color: #ffffff;
    font-size: 30px;
    padding: 12px 0px;
    /* border: 1px solid springgreen; */
}


.textblock{
    /* border: 1px solid hotpink; */
    background-color: #F2EEE6;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    
}
.form{
    /* border: 1px solid navy; */
    background-color: #F2EEE6;
    
} 

.text,.tel,.email,textarea{
    width: 100%;
}

.Btn{
    /* border: 1px solid tomato; */
    display: flex;
    justify-content: center;
}
section.btn{
    text-align: center;
    border: 1px solid #ffb81f;
    background-color: #ffb81f;
    padding: 10px;
    width: 100px;
    height: 45px;
    transform: skew(-30deg, 0deg); 
    display: inline-flex;
    justify-content: center;
}
 section a{
     /* border: 1px solid red; */
     text-decoration: none;
     text-align: center;
     color: #002863;
     font-style: normal;
     transform: skew(30deg, 0deg);
 }

 section a:hover{
    text-decoration: none;
    text-align: center;
    color: #002863;
    font-style: normal;
 }

 
 