*{
    box-sizing: border-box;
    color: #002863;
}


.content{
    background-color:#f2eee6;
    /* width:1200px; */
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.left , .right{
    width: 50%;
}
@media screen and (max-width:576px) and (min-width:320px){
    .content{
        /* background-color: darkgoldenrod; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .left , .right{
        width: 100%;
    }
    .text{
        /* border: 1px solid darkmagenta; */
        padding: 35px;
    }
}
.teacherimg{
    display: flex;
    justify-content: center;
}
.teacherimg>img{
    width: 30%;
    /* height: 20%; */
    
}


.coursename >p{
    text-align: center;
    font-size: 20px;
}




.right{
    /* border: 1px solid #002863; */
    display: flex;
    flex-direction: column;
}
.week, .set, .times, .pay{
    margin: 2px 0;
    border: 2px solid #002863;
    font-size: 19px;
    text-align: center;
}
div.pay{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

span.paycard{
    /* border: 1px solid darkgoldenrod; */
    float: left;
}
.pay1{
    /* border: 1px solid rebeccapurple; */
}

section.btn{
    text-align: center;
    border: 1px solid #ffb81f;
    background-color: #ffb81f;
    padding: 10px;
    box-sizing: border-box;
    width: 100px;
    height: 45px;
    transform: skew(-30deg, 0deg);
}
section.btn:hover{
    background-color: #002863;
    border: 1px solid #002863;
    color: #ffffff;
}
 section a{
     display: inline-block;
     /* border: 1px solid red; */
     text-decoration: none;
     text-align: center;
     color: #002863;
     font-style: normal;
     transform: skew(30deg, 0deg);
 }

 section a:hover{
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-style: normal;
 }
 .checkbtn{
     /* margin: 70px auto; */
     /* border: 1px solid chartreuse; */
     display: flex;
     width: 100%;
     justify-content: center;
 }
 button{
    border: none;
    color: #002863;
    margin: 5px;
    padding:12px;
 }

 button:hover{
    background-color: #ffb81f;
    color: #ffffff;
    border: none;
 }
 label, input{
     margin: 6px 0;
 }
 .tchname{
     text-align: center;
     font-size: 19px;
     margin: 10px 0;
 }
 .coursetext{
     margin: 20;
     /* padding: 5px 60px; */
     line-height: 2;
 }
 .btn{
     border: 1px solid red;
 }