*{
    box-sizing: border-box;
    color: #002863;
}

.wrap{
    display: flex;
    min-width: 1200px;
    /* position: relative; */
}

.aside, .main{
    /* border: 1px solid green; */
    background-color: #F2EEE6;
    /* min-width: 300px; */
}

.aside{
    position: relative;
    /* border: 1px solid red; */
    width: 520px;
}

.main{
    width: calc(100% - 520px);
    display: flex;
    position: relative;
    min-width: 50px;
}

.asideimg>img{
    width: 73vh;
}

.asidetext{
    border: 1px solid #F2EEE6;
    margin-top: -500px;
    margin-left: 280px;
    position: absolute;
    
}

.loginblock{
    border: 1px;
    margin-left: 20px;
    width: 500px;
    padding: 0 82px;
    position: absolute;
}

.loginblock>p{
    text-align: center;
    font-size: 20px;
}

a> img{
    width: 320px;
}
.img12 >img, .img13 >img{
    width: 30px;
    margin: 10px;
    margin-left: 10px;
    margin-bottom: -10px;
}

.img12>input, .img13>input{
    width: 250px;
    height: 32px;
    margin: 10px;
}

section.btn{
    text-align: center;
    border: 1px solid #ffb81f;
    background-color: #ffb81f;
    padding: 10px;
    box-sizing: border-box;
    width: 100px;
    height: 45px;
    transform: skew(-30deg, 0deg);
}
section.btn:hover{
    background-color: #002863;
    border: 1px solid #002863;
    color: #ffffff;
}
 section a{
     display: inline-block;
     text-decoration: none;
     text-align: center;
     color: #002863;
     font-style: normal;
     transform: skew(30deg, 0deg);
 }

 section a:hover{
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-style: normal;
 }
 .checkbtn{
    margin: 50px 120px;
}

.user{
    /* border: 1px solid hotpink; */
    width: 400px;
    float: right;
    background-color: #254ca1;
    opacity: .9;
    padding: 30px;
    min-width: 100px;
    position: absolute;
    right: 0;
}
.user1>p , .user2>p{
    color: #ffffff;
}
.user2 >img{
    float: right;
    width: 20px;
    transform: translateY(-30px);
}

input{
    margin: 0 120px;
    border-radius: 5px;
    padding:6px;
}

input:hover{
    background-color: #002863;
    color: #ffffff;
    padding:6px;
}